<html>
    <head>
        <body>
            <ul>
                <% for(var i = 0; i< products.length; i++) { %>
                <li><%= products[i] %></li>
                <% } %>
            </ul>
        </body>
    </head>
</html>